<div class="card">
  <div class="grid grid-cols-2 gap-4">
    <p-panel header="BiyaheKo" [toggleable]="true">
      Link to BiyaheKo and other info...
    </p-panel>
    <p-panel header="Via" [toggleable]="true">
      Link to Via and other info...
    </p-panel>
    <p-panel header="UOS" [toggleable]="true">
      Link to UOS and other info...
    </p-panel>
    <p-panel header="Southwest" [toggleable]="true">
      Link to Southwest and other info...
    </p-panel>
    <p-panel header="Gmail" [toggleable]="true">
      Link to Gmail and other info...
    </p-panel>
  </div>
</div>
