<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>

<p-card header="Expenses">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="start">
      <p-iconfield iconPosition="left">
        <p-inputicon styleClass="pi pi-search" />
        <input
          pInputText
          type="text"
          (input)="onSearch($event)"
          [value]="searchTerm"
          placeholder="Search"/>
      </p-iconfield>
    </ng-template>
    <ng-template pTemplate="end">
      <p-button
        (click)="createExpense()"
        severity="success"
        icon="pi pi-plus"
        label="New Expense"
        pRipple
      ></p-button>
    </ng-template>
  </p-toolbar>

  <p-table
    (onLazyLoad)="onPage($event); onSort($event)"
    [columns]="columns"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
    [rows]="rows"
    [showCurrentPageReport]="true"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    [totalRecords]="totalRecords"
    [value]="entities"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    dataKey="id"
    paginatorPosition="bottom"
    responsiveLayout="scroll"
    styleClass="p-datatable-sm p-datatable-striped"
  >
    <ng-template let-columns pTemplate="header">
      <tr>
        <!-- Add selection checkbox if multi-delete is enabled -->
        <!-- <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th> -->
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th style="width: 10rem">Actions</th>
      </tr>
    </ng-template>
    <ng-template let-columns="columns" let-expense pTemplate="body">
      <tr>
        <!-- Add selection checkbox if multi-delete is enabled -->
        <!-- <td>
          <p-tableCheckbox [value]="expense"></p-tableCheckbox>
        </td> -->
        <td *ngFor="let col of columns">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'expenseDate'">
              {{ expense[col.field] | date: "MMM d, yyyy" }}
            </ng-container>
            <ng-container *ngSwitchCase="'amount'">
              {{ expense[col.field] | currency: "PHP" : "symbol" : "1.2-2" }}
            </ng-container>
            <ng-container *ngSwitchCase="'categoryName'">
              {{ getCategoryLabel(expense.category) }}
            </ng-container>
            <ng-container *ngSwitchCase="'receiptFilename'">
              <p-button
                (click)="viewReceipt(expense)"
                *ngIf="expense.receiptFilename"
                icon="pi pi-eye"
                severity="secondary"
                pTooltip="View Receipt"
                [rounded]="true"
                [text]="true"
              ></p-button>
              <p-button
                (click)="downloadReceipt(expense)"
                *ngIf="expense.receiptFilename"
                icon="pi pi-download"
                severity="info"
                pRipple
                pTooltip="Download Receipt"
                [rounded]="true"
                [text]="true"
              ></p-button>
              <span *ngIf="!expense.receiptFilename">-</span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ expense[col.field] }}
            </ng-container>
          </ng-container>
        </td>
        <td>
          <p-button
            (click)="editExpense(expense)"
            icon="pi pi-pencil"
            severity="secondary"
            pRipple
            pTooltip="Edit"
            [rounded]="true"
            [text]="true"
          ></p-button>
          <p-button
            (click)="deleteEntity(expense)"
            icon="pi pi-trash"
            severity="danger"
            pRipple
            pTooltip="Delete"
            [rounded]="true"
            [text]="true"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="columns.length + 1">No expenses found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
