@if (showNew || showDelete || showExport) {
  <p-toolbar>
    <ng-template pTemplate="start">
      @if (showNew) {
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2"
                  (onClick)="onCreateNew()"></p-button>
      }
      @if (showDelete) {
        <p-button label="Delete" icon="pi pi-trash" severity="secondary" outlined
                  (onClick)="onDeleteSelected()"
                  [disabled]="!selectedEntities || !selectedEntities.length"></p-button>
      }
    </ng-template>

    <ng-template pTemplate="end">
      @if (showExport) {
        <p-button (onClick)="exportCSV()" icon="pi pi-upload" label="Export" severity="secondary"/>
      }
    </ng-template>
  </p-toolbar>
}
<p-table
  #dt
  (onPage)="onPage($event)"
  (onSort)="onSort($event)"
  [(selection)]="selectedEntities"
  [columns]="columns"
  [first]="first"
  [globalFilterFields]="globalFilterFields"
  [lazy]="true"
  [loading]="loading"
  [paginator]="true"
  [rowHover]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [rows]="10"
  [showCurrentPageReport]="true"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [tableStyle]="{ 'min-width': '75rem' }"
  [totalRecords]="totalRecords"
  [value]="entities"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  dataKey="id">
  <ng-template pTemplate="caption">
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage {{ entityName }}</h5>
      <p-icon-field>
        <p-inputicon styleClass="pi pi-search"></p-inputicon>
        <input (input)="onGlobalFilter($event)" pInputText placeholder="Search..." type="text"/>
      </p-icon-field>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th id="checkbox" style="width: 3rem">
        <p-tableHeaderCheckbox/>
      </th>
      @for (col of columns; track col.field) {
        <th [pSortableColumn]="col.field" id="col.field">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      }
      <th id="actions" style="min-width: 10rem"></th>
    </tr>
  </ng-template>
  <ng-template let-entity pTemplate="body">
    <tr>
      <td>
        <p-tableCheckbox [value]="entity"></p-tableCheckbox>
      </td>
      @for (col of columns; track col.field) {
        <td>{{ entity[col.field] }}</td>
      }
      <td>
        @if (showEdit) {
          <p-button (click)="onEdit(entity)" [outlined]="true" [rounded]="true" class="mr-2"
                    icon="pi pi-pencil"/>
        }
        @if (showDelete) {
          <p-button (click)="onDelete(entity)" [outlined]="true" [rounded]="true" icon="pi pi-trash"
                    severity="danger"/>
        }
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="loadingbody">
    <tr>
      <td colspan="100%">
        Loading data. Please wait...
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="100%">
        No records found.
      </td>
    </tr>
  </ng-template>

  <p-confirm-dialog [style]="{ width: '450px' }"/>
</p-table>
