<p-dialog
  (onHide)="onCancel()"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '80vw', maxWidth: '900px' }"
  header="Email Preview">
  <div class="flex justify-content-between mb-3">
    <span [class]="getStatusClass()">
      {{ isProviderSent() ? 'Already Sent' : 'Not Sent' }}
    </span>
  </div>

  <p-divider></p-divider>
  <p><span class="font-bold">To</span>: {{ emailData.to }}</p>
  <p-divider></p-divider>
  <p>
    <span class="font-bold">Subject</span>: {{ emailData.subject }}
  </p>
  <p-divider></p-divider>
  <div [innerHTML]="emailData.emailContent"></div>

  <ng-template pTemplate="footer">
    <p-button
      (onClick)="onCancel()"
      [text]="true"
      icon="pi pi-times"
      label="Cancel"
    ></p-button>
    <p-button
      (onClick)="onSend()"
      [disabled]="isSending || isProviderSent()"
      icon="pi pi-send"
      label="Send"
    ></p-button>
  </ng-template>
</p-dialog>
