<app-crud
  [entities]="entities"
  [columns]="columns"
  [entityName]="getEntityName()"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [sortField]="sortField"
  [sortOrder]="sortOrder"
  [searchTerm]="searchTerm"
  [showEdit]="true"
  (create)="openDialog($event)"
  (update)="openDialog($event)"
  (delete)="deleteEntity($event)"
  (deleteMultiple)="deleteSelectedEntities($event)"
  (search)="onSearch($event)"
  (sort)="onSort($event)"
  (page)="onPage($event)"
>
</app-crud>

<p-dialog [(visible)]="dialogVisible" [style]="{ width: '450px' }" header="Country Details"
          [modal]="true">
  <ng-template pTemplate="content">
    <form [formGroup]="form" class="flex flex-col gap-4 mt-3">
      <p-float-label variant="on">
        <input class="w-full" formControlName="to" id="to" pInputText
               type="text">
        <label for="to">To</label>
        <small class="text-red-500" *ngIf="submitted && form.get('to')?.invalid">To is
          required.</small>
      </p-float-label>
      <p-float-label variant="on">
        <input class="w-full" formControlName="subject" id="subject" pInputText
               type="text">
        <label for="subject">Subject</label>
        <small class="text-red-500" *ngIf="submitted && form.get('subject')?.invalid">Subject is
          required.</small>
      </p-float-label>
      <p-float-label variant="on">
        <textarea pTextarea formControlName="body" id="body" fluid></textarea>
        <label for="body">Body</label>
        <small class="text-red-500" *ngIf="submitted && form.get('body')?.invalid">Body is
          required.</small>
      </p-float-label>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="Close" icon="pi pi-times" text (click)="hideDialog()"/>
  </ng-template>
</p-dialog>

<p-toast></p-toast>

