<p-card header="Bookings">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>

  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="start">
      <p-iconfield iconPosition="left">
        <p-inputicon styleClass="pi pi-search" />
        <input
          (input)="onSearch($event)"
          [value]="searchTerm"
          pInputText
          placeholder="Search"
          type="text"
        />
      </p-iconfield>
    </ng-template>
  </p-toolbar>

  <p-table
    (onLazyLoad)="onSort($event)"
    (onPage)="onPage($event)"
    [first]="first"
    [lazy]="true"
    [loading]="loading"
    [paginator]="true"
    [rowHover]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [rows]="10"
    [showCurrentPageReport]="true"
    [totalRecords]="totalRecords"
    [value]="entities"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    dataKey="id"
    styleClass="p-datatable-gridlines"
  >
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.field"
          id="col.field"
        >
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th id="actions">Actions</th>
      </tr>
    </ng-template>
    <ng-template let-booking pTemplate="body">
      <tr>
        <td>{{ booking.clientName }}</td>
        <td>{{ booking.bookingDate | date: "mediumDate" }}</td>
        <td>{{ booking.travelStartDate | date: "mediumDate" }}</td>
        <td>{{ booking.destination }}</td>
        <td>{{ booking.totalAmount | currency: "PHP" }}</td>
        <td>{{ booking.paidAmount | currency: "PHP" }}</td>
        <td>
          <span
            [ngClass]="{
              'bg-blue-100 text-blue-700': booking.status === 'PENDING_PAYMENT',
              'bg-yellow-100 text-yellow-700':
                booking.status === 'PARTIALLY_PAID',
              'bg-green-100 text-green-700': booking.status === 'FULLY_PAID',
            }"
            class="px-2 py-1 rounded-md text-xs font-medium"
          >
            {{ getStatusLabel(booking.status) }}
          </span>
        </td>
        <td>
          <div class="flex gap-2">
            <p-button
              (onClick)="viewBooking(booking)"
              [rounded]="true"
              [text]="true"
              icon="pi pi-pencil"
              severity="secondary"
            >
            </p-button>
            <p-button
              (onClick)="deleteEntity(booking)"
              [rounded]="true"
              [text]="true"
              icon="pi pi-trash"
              severity="danger"
            >
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" class="text-center p-4">No bookings found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
