<nav class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button (click)="layoutService.onMenuToggle()" class="layout-menu-button layout-topbar-action">
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/home">
      <img alt="logo" class="w-[3rem]" height="48" ngSrc="/images/logo-48x48.png" priority
           width="48">
      <span>Goldrush</span>
    </a>
  </div>
  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button (click)="toggleDarkMode()" class="layout-topbar-action" type="button">
        <i
            [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkMode(), 'pi-sun': !layoutService.isDarkMode() }"></i>
      </button>
      @if (auth.user$ | async; as currentUser) {
        <div class="cursor-pointer" (click)="menu.toggle($event)">
          <div class="flex items-center gap-2 p-2">
            <img [ngSrc]="currentUser.picture || 'https://robohash.org/goldrush'" width="48"
                 height="48" alt="profile" class="w-10 h-10 rounded-full">
            <span>{{ currentUser.name }}</span>
          </div>
          <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
      } @else {
        <button type="button" class="layout-topbar-action" (click)="login()">
          <i class="pi pi-sign-in"></i>
        </button>
      }
    </div>
  </div>
</nav>
